<div class="container login-container">
  <div class="columns is-centered">
    <form class="box column is-4">
      <h1 class="title is-4">Регистрация</h1>
      <p class="subtitle"><a [routerLink]="['/login']">У меня уже есть аккаунт!</a></p>
      <div class="field">
        <label class="label">Логин</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label">Пароль</label>
        <div class="control">
          <input class="input" type="password">
        </div>
      </div>
      <div class="field">
        <label class="label">Пароль еще раз</label>
        <div class="control">
          <input class="input" type="password">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Присоедениться к нам</button>
        </div>
      </div>
    </form>
  </div>
</div>
